# <span style="color:#336699">Web Land Trajectory Service - Python Client API [<img src="../img/bdc-logo.png" alt="Brazil Data Cube - Python Sample Client" style="height:100px;" align="right">](https://github.com/brazil-data-cube/sample.py)</span>



<hr style="border:2px solid #0077b9;">

# <span style="color:#336699"> Examples o WLTS.py</span>

###  Import the required libraries 
<hr style="border:1px solid #0077b9;">

In [1]:
import wlts

#### After that, you can check the installed version of WLTS client package:

In [2]:
wlts.__version__

'0.2.0'

#### Create WLTS object by passing the URL of WLTS service.

In [5]:
service = wlts.WLTS('http://brazildatacube.dpi.inpe.br/dev/wlts')

###  WLTS operations
<hr style="border:1px solid #0077b9;">

#### Retrive the collections avaliable in WLTS

In [6]:
print(service.collections)

['deter_amz_legal', 'deter_cerrado', 'prodes_cerrado', 'terraclass_amz', 'prodes_amz_legal', 'mapbiomas_amz_4_1', 'mapbiomas_cerrado_4_1', 'mapbiomas_caatinga_4_1']

#### Retrive metadata of a givin collection

In [10]:
service['prodes_cerrado']

{'collection_type': 'Feature',
 'description': 'Desmatamento Cerrado',
 'detail': 'http://www.obt.inpe.br/OBT/assuntos/programas/amazonia/prodes',
 'name': 'prodes_cerrado',
 'period': {'end_date': '2019', 'start_date': '2000'},
 'resolution_unit': {'unit': 'YEAR', 'value': '1'},
 'spatial_extent': {'xmax': -24.6851196289062,
  'xmin': -60.0939559936523,
  'ymax': -2.32670903205872,
  'ymin': -41.5224685668945}}

### Examples o Land Use and Cover Trajectory using WLTS

#### Import pandas library

In [11]:
import pandas as pd

### Exemple of trajectory at location latitude -8.706 and longitude -64.285

In [14]:
tj = service.tj(latitude=-12.0, longitude=-54.0, collections='mapbiomas_amz_4_1')

In [16]:
tj.df()

                 class         collection  date
0   Formação Florestal  mapbiomas_amz_4_1  2007
1   Formação Florestal  mapbiomas_amz_4_1  2008
2   Formação Florestal  mapbiomas_amz_4_1  2009
3   Formação Florestal  mapbiomas_amz_4_1  2010
4   Formação Florestal  mapbiomas_amz_4_1  2011
5   Formação Florestal  mapbiomas_amz_4_1  2012
6   Formação Florestal  mapbiomas_amz_4_1  2013
7   Formação Florestal  mapbiomas_amz_4_1  2014
8   Formação Florestal  mapbiomas_amz_4_1  2015
9   Formação Florestal  mapbiomas_amz_4_1  2016
10  Formação Florestal  mapbiomas_amz_4_1  2017
11  Formação Florestal  mapbiomas_amz_4_1  2018

In [17]:
trajetoria_two = service.tj(latitude=-4.090, longitude=-63.353, collections='mapbiomas_amz_4_1')

In [18]:
trajetoria_two.df()

                 class         collection  date
0   Rio, Lago e Oceano  mapbiomas_amz_4_1  2007
1   Rio, Lago e Oceano  mapbiomas_amz_4_1  2008
2   Rio, Lago e Oceano  mapbiomas_amz_4_1  2009
3   Rio, Lago e Oceano  mapbiomas_amz_4_1  2010
4   Rio, Lago e Oceano  mapbiomas_amz_4_1  2011
5   Rio, Lago e Oceano  mapbiomas_amz_4_1  2012
6   Rio, Lago e Oceano  mapbiomas_amz_4_1  2013
7   Rio, Lago e Oceano  mapbiomas_amz_4_1  2014
8   Rio, Lago e Oceano  mapbiomas_amz_4_1  2015
9   Rio, Lago e Oceano  mapbiomas_amz_4_1  2016
10  Rio, Lago e Oceano  mapbiomas_amz_4_1  2017
11  Rio, Lago e Oceano  mapbiomas_amz_4_1  2018

In [19]:
trajetoria_three = service.tj(latitude=-10.710, longitude=-55.612, collections='mapbiomas_amz_4_1')
trajetoria_three.df()

                     class         collection  date
0                 Pastagem  mapbiomas_amz_4_1  2007
1                 Pastagem  mapbiomas_amz_4_1  2008
2                 Pastagem  mapbiomas_amz_4_1  2009
3                 Pastagem  mapbiomas_amz_4_1  2010
4                 Pastagem  mapbiomas_amz_4_1  2011
5                 Pastagem  mapbiomas_amz_4_1  2012
6                 Pastagem  mapbiomas_amz_4_1  2013
7                 Pastagem  mapbiomas_amz_4_1  2014
8                 Pastagem  mapbiomas_amz_4_1  2015
9                 Pastagem  mapbiomas_amz_4_1  2016
10  Cultura Anual e Perene  mapbiomas_amz_4_1  2017
11  Cultura Anual e Perene  mapbiomas_amz_4_1  2018